@media (max-width: 480px) {
  footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;

    font-size: 0.6rem;
    height: 90px;
  }

  .email, .tel1, .tel2 {
    padding: 0;
    padding-left: 5px;

    border-left: 2px solid navy;
  }
  
  .please-contact {
    font-size: 0.75rem;
    font-weight: bold;

    padding: 0;
  }

  .please-contact, .email {
    background-color: transparent;
    color: navy;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .email {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    font-weight: 500;
  }

  .tel1, .tel2 {
    outline: none;
    border-right: none;
  }
}