footer {
  container-type: inline-size;
  container-name: footer;
}

footer div {
  background-color: hsl(from var(--primary-color) h s calc(l + 5));
  height: 60px;

  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3),
              inset 0 -5px 10px rgba(0, 0, 0, 0.3);

  border-top: 1px solid white;
  padding: 10px 50px;

  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  text-wrap: nowrap;
  white-space: nowrap;
}

.please-contact, .email {
  background-color: navy;
  padding: 7px 15px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.email {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.tel1, .tel2 {
  padding: 6px 30px;
  border-right: 0.5rem solid navy;

  color: navy;
  font-weight: 500;

  outline: 1px solid navy;
}

.tel2 {
  border-right: none;
}

@container footer (width < 920px) {
  footer div {
    display: none;
  }
}